.article {
    padding-top: 170px;
}

.article-title {
    margin-bottom: 100px;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    color: #000000;
    text-align: center;
    mix-blend-mode: normal;
}

.article-list {
    @include list-global;
    @include flex-starter;
    justify-content: space-around;
    flex-wrap: wrap;
    align-self: stretch;
}

.article-item {
    max-width: 350px;
    width: 100%;
    padding: 0 15px;
    background: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    margin-bottom: 75px;
}

.article-item img{
    margin-bottom: 20px;
}

.article-item-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    color: #000000;
    mix-blend-mode: normal;
}

.article-item-desc {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
    mix-blend-mode: normal;
}

.article-link {
    max-width: 266px;
    width: 100%;
    display: inline-block;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    color: #4089ED;
    margin-bottom: 35px;
    mix-blend-mode: normal;
    text-decoration: none;
}