.customers {
    margin-top: 300px;
}

.customers-box {
    padding: 50px;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
}


.customers-list {
    @include flex-starter;
    @include list-global;
    justify-content: space-between;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.customers-item:first-child {
    @include flex-starter;
    flex-direction: column;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
}

.customers-title {
    padding: 40px 0 40px 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    text-align: center;
}

.customers-decs {
    max-width: 420px;
    margin-left: auto;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
}